body,html{
    margin:0 auto;
    padding:0;
    font-size:62.5%;
    box-sizing:border-box;
}
/*header info */
header{
    width:100%;
/*    text-align:center;*/
    }


#img_logo{
    padding:0;
    height:auto;
    max-height:30rem;
    width:20%;
    max-width:20%;
    display:block;
    float:left;
    }

#sec_search{
    margin:0 auto;
    padding:0;
    width: 80%;
    float: right;
}

#nav_search{
    padding:0;
    display:block;
    text-align:center;
    width: 65%;
    height: 80px;
    margin-left: 200px;
    float:right;
}

#snav_search > ul{
    display:inline-block;
    width:100%;
    float: right;
    margin: 0;
    }
#nav_search > ul > li{
    margin:2px;
    padding:0;
    height:35px;
    width:calc(80%/3);
    font-size:11px;
    color:#ffffff;
    line-height:30px;
    float:left;
    display:inline;
    background-color:#6c5b79;
}


#shopping{
    margin-right:150px;
    padding:5px;
    width:300px;
    display:block;
    text-align:center;
    float:right;
}




/*drop down*/
#dropdown_cart{
    margin:0 auto;
    padding:15px
    font-size:20px;
    float:left;
    background-color:#ffffff;
}

#img_face{
    float:left;
}

#button_phone{
    
    color:#f42098;
    float:right;
    font-size: 12px;
}
#pink{
    width:100%;
    
    
    
}

#nav_pink{
    margin:0;
    padding:0;
    width:100%;
 
   
  
}

#nav_pink >ul{
    display:inline-block;
    width:100%; 
    padding-left: 0;

}

#nav_pink >ul > li{
     margin:0 auto;
    padding:0;
    height:25px;
    width:calc(100%/13);
    font-size:10px;
    color:#ffffff;
    line-height:30px;
    float:left; 
    display:inline-block;
    list-style:none;
    float:left;
    background-color:#f42098;
}



.social{
    margin:0 ;
    padding:0;
    text-align:center;
    display:inline;
    float:right; 
}






/*media query header*/


/*Custom, iPhone Retina */
/*@media only screen and (max-width:320px){
    img{width:calc(100%/2)
        height:auto;
        transform:trasnlateY(5rem);
    }
}*/



/*Extra Small Devices, Phones*/
/*@media only screen and (max-width:480px){
     img{width:calc(100%/1.8)
        height:auto;
        transform:translateY(4.5rem)    }
}*/


/*Small Devices, Tabletts*/
/*@media only screen and (max-width:768px){
    img{width:calc(100%/1.3)
        height:auto;
        transform:trasnlateY(1);
    }
}
*/

/*Medium Devise, Desktops*/
/*@media only screen and (max-width:992px){
     img{width:calc(100%/1)
        height:auto;
        transform:trasnlateY();
    }
}
*/



/*Large Devises, Wide Screens*/
/*@media only screen and (min-width:1200px){
     img{width:calc(100%/)
        height:auto;
transform:  trasnlateY();
    }
}
*/













