body,html{
    margin:0 auto;
    padding:0;
    font-size:62.5%;
    box-sizing:border-box;
}
/*header info */
header{
    height:20rem;
    width:100%;
    text-align:center;
    }


#img_logo{
    margin:0 auto;
    padding:15px;
    height:auto;
    max-height:;
    width:235px;
    max-width:100%;
    display:block;
    float:left;
    }

#sec_search{
    margin:0 auto;
    padding:0;
    height:150px;
    width:456px;
    float:right;
}

#nav_search{
    margin:0 auto;
    padding:0;
    display:block;
    height:150px;
    width:456px;
    text-align:center;
    float:left;
    border: green 5px solid;
}

#nav_search > ul{
    display:block;
    width:100%;
    height:100%;
    }
#nav_search > ul > li{
   margin:0 auto;
    padding:0;
    height:35px;
    width:calc(100%/6);
    font-size:11px;
    color:#ffffff;
    line-height:30px;
    float:left;
    display:inline;
    background-color:#6c5b79;
}

.search{
    margin:0 auto;
    padding:5px;
    height:;
    width:calc(100%/4);
   text-align:center;
    float:left;
    background-color:#ffffff;
}
/*drop down*/
#button_cart{}



#button_phone{
    
    color:#f42098;
    float:right;

}
#pink{
    margin:0 auto;
    padding:0;
    height:50px;
    width:100%;
    text-align:center;
    border:black 2px solid;
    float: left;
    
}

#nav_pink{
     margin:0 auto;
    padding:0;
    display:block;
    height:50px;
    width:100%;
    float:left;
    text-align:center;
    background-color:#f42098;
  
}

#nav_pink >ul{
    display:inline-block;
    width:100%; 
}

#nav_pink >ul > li{
     margin:0 auto;
    padding:0;
    height:42px;
    width:calc(100%/12);
    font-size:11px;
    color:#ffffff;
    line-height:30px;
    float:left; 
    display:inline-block;
    list-style:none;
    float:left;
    background-color:#f42098;
}

.social{
    margin:0 auto;
    padding:0;
    height:42px;
   width:60px;
    color:#ffffff;
    line-height:30px;
    text-align:center;
    display:inline-block;
    float:right; 
    background-color:#f42098;
}






/*media query header*/

@media only screen
    and(max-width:1088px)
    img{
        transform:translatey()

}

@media only screen
    and(max-width:960px)
    /*drop down,display:none;,socialmedial,deleterow,logo*/
}

@media only screen
    and(max-width:764px)
    /*img,buttons*/
    
 @media only screen
    and(max-width:520px)
    /*display block, buttons*/



